@attribute [Authorize]
@inject HttpClient _client
@inject IJSRuntime js
@page "/OnlineConsultation/"
@inject HttpInterceptorService _interceptor
@implements IDisposable
<PageTitle>Online Consultation</PageTitle>

<div class="container">
    <div class="d-flex flex-column" id="dflexonlineappointment">
        <h1 class="mt-5" id="onlineappointmentstatusheader">Online Consultation</h1>
        <a href="/OnlineConsultation/create" class="btn btn-secondary createonlineappointmentbutton ">
            <span class="oi oi-plus"></span>
            Create New Online Consultation
        </a>
    </div>


    @if(OnlineConsultations==null)
    {
        <div class="alert alert-info">Loading Online Consultations</div>
    }
    else{
    <div class="table-responsive mt-3">
        <table class="table ">
            <thead class="table-light">
                <tr id="delivertablecolumnname">
                    <th scope="col" class="dcol">#OnlineConsultationID</th>
                    <th scope="col" class="dcol">Start Date</th>
                    <th scope="col" class="dcol">Start Time</th>
                    <th scope="col" class="dcol">Status</th>
                    <th scope="col" class="dcol">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var onlineconsultation in OnlineConsultations)
                {
                    <tr>
                        <td class="dr">@onlineconsultation.OnlineConsultationID</td>
                        <td class="dr">@onlineconsultation.ConsultationDateStart.Value.ToString("dddd, dd MMMM yyyy")</td>
                        <td class="dr">@onlineconsultation.ConsultationTimeStart.Value.ToString("hh:mm tt")</td>
                        <td class="dr">@onlineconsultation.ConsultationStatus</td>
                        <td class="dr d-flex flex-wrap justify-content-center">
                            <a href="/OnlineConsultation/view/@onlineconsultation.OnlineConsultationID" class="btn btn-primary mb-2 me-2">
                                <i class="bi bi-file-earmark"></i>
                            </a>
                            <a href="/OnlineConsultation/edit/@onlineconsultation.OnlineConsultationID" class="btn btn-warning mb-2 me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <button class="btn btn-danger mb-2" @onclick="@(()=>Delete(onlineconsultation.OnlineConsultationID))">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </td>
                    </tr>
                    
                }               
            </tbody>
        </table>
    </div>
    } 
</div>



@code {

    private List<OnlineConsultation>? OnlineConsultations;
    <!--When the page begins to load-->
    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        OnlineConsultations = await _client.GetFromJsonAsync<List<OnlineConsultation>>($"{Endpoints.OnlineConsultationsEndpoint}");
    }
    async Task Delete(int onlineconsultationId)
    {
        if (OnlineConsultations != null)
        {
            var onlineconsultation = OnlineConsultations.First(q => q.OnlineConsultationID == onlineconsultationId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to Delete {onlineconsultation.OnlineConsultationID}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.OnlineConsultationsEndpoint}/{onlineconsultationId}");
                await OnInitializedAsync();
            }
        }
    }
    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }


}
