@inject HttpClient _client

<EditForm Model="@prescription" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="d-flex flex-column mt-4" id="flexcolumnprescription">
            <div class="card bg-light mb-3 PrescriptionCard">
                <div class="card-header">Prescription</div>
                <div class="card-body">
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Online Consultation: </label>
                                <div>
                                    <h5>
                                        @prescription.OnlineConsultationID
                                    </h5>
                                </div>
                            </div>
                        </div>                   
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Issue Date: </label>
                                <div>
                                    <InputDate @bind-Value="@prescription.IssueDate" class="form-control" />
                                    <ValidationMessage For="@(() => prescription.IssueDate)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Expiry Date: </label>
                                <div>
                                    <InputDate @bind-Value="@prescription.ExpiryDate" class="form-control" />
                                    <ValidationMessage For="@(() => prescription.ExpiryDate)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        
    </fieldset>
    <div class="d-flex flex-column-md-6 mt-2 justify-content-center">
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success me-2">
            @ButtonText
        </button>
    }
    </div>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Prescription? prescription { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


    private IList<OnlineConsultation>? OnlineConsultations;



    protected async override Task OnInitializedAsync()
    {
        OnlineConsultations = await _client.GetFromJsonAsync<List<OnlineConsultation>>($"{Endpoints.OnlineConsultationsEndpoint}");
    }

}