@inject HttpClient _client

<EditForm Model="@prescriptionitem" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="d-flex flex-column mt-4" id="flexcolumnprescriptionitem">
            <div class="card bg-light mb-3 PrescriptionItemCard">
                <div class="card-header">Prescription Item</div>
                <div class="card-body">
                    <div class="container-xl px-4 mt-4" id="prescriptionitemdetails">
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Prescription ID: </label>
                                    <div>
                                        <h5>
                                            @prescriptionitem.PrescriptionID
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive prescriptionshopping-cart">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center precriptionitemtableheader">Prescription Product</th>
                                            <th class="text-center precriptionitemtableheader">Quantity</th>
                                            <th class="text-center precriptionitemtableheader">Price</th>
                                            <th class="text-center precriptionitemtableheader">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="flex-row">
                                                        <div class="flex-container d-flex justify-content-center align-items-center">
                                                            <a class="prescriptionproductproduct-thumb">
                                                                <img src="@GetProductImage(prescriptionitem.ProductID)" class="PrescriptionProductimage">
                                                            </a>
                                                        </div>
                                                        <div class="prescriptionproduct-info mt-4">
                                                            <h4 class="prescriptionitem-title text-center">
                                                                <div class="form-group">
                                                                    <label>Prescription Item Name: </label>
                                                                    <div class="bordercolor">
                                                                        <InputSelect @bind-Value="prescriptionitem.ProductID" class="form-control border-0 text-center" oninput="@OnProductSelected">
                                                                            <option value="">-- Please Select the Prescription Item --</option>
                                                                            @if (Products != null)
                                                                            {
                                                                                foreach (var product in Products.Where(p => p.PrescriptionStatus && p.StockAvailable == true))
                                                                                {
                                                                                    <option value="@product.ProductID">@product.ProductName</option>
                                                                                }
                                                                            }
                                                                        </InputSelect>
                                                                        <ValidationMessage For="@(() => prescriptionitem.ProductID)" />
                                                                    </div>
                                                                </div>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div class="count-input">
                                                    <div>
                                                        <h4>
                                                            <input type="number" @bind="@prescriptionitem.PrescriptionItemQuantity" class="form-control-sm-5 text-center" @oninput="@OnQuantityChanged" placeholder="Enter Quantity Here" step="1" min="0" />
                                                            <ValidationMessage For="@(() => prescriptionitem.PrescriptionItemQuantity)" />
                                                        </h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-lg text-medium">
                                                <div>
                                                    <h4>
                                                        @GetProductPrice(prescriptionitem.ProductID)
                                                    </h4>
                                                </div>
                                            </td>
                                            <td class="text-center text-lg text-medium">
                                                <div>
                                                    <!-- Bind the result of the multiplication to PrescriptionItemSubTotal -->
                                                    @{
                                                        prescriptionitem.PrescriptionItemSubTotal = prescriptionitem.PrescriptionItemQuantity * GetProductPrice(prescriptionitem.ProductID);
                                                    }

                                                    <!-- Display the PrescriptionItemSubTotal -->
                                                    <h4>
                                                        @prescriptionitem.PrescriptionItemSubTotal
                                                    </h4>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="d-flex flex-column-md-6 mt-2 justify-content-center">
        @if (!Disabled)
        {
            <button type="submit" class="btn btn-success me-2">
                @ButtonText
            </button>
        }
    </div>
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public PrescriptionItem? prescriptionitem { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<Prescription>? Prescriptions;
    private IList<Product>? Products;

    protected async override Task OnInitializedAsync()
    {
        Prescriptions = await _client.GetFromJsonAsync<List<Prescription>>($"{Endpoints.PrescriptionsEndpoint}");
        Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
    }

    private string GetProductImage(int productId)
    {
        var selectedProduct = Products?.FirstOrDefault(p => p.ProductID == productId);
        return selectedProduct?.ProductImage ?? "https://store-in.puma.com/VendorpageTheme/Enterprise/EThemeForPuma/images/product-not-found.jpg";
    }

    private void OnProductSelected(ChangeEventArgs args)
    {
        StateHasChanged();
    }

    private decimal GetProductPrice(int productId)
    {
        var selectedProduct = Products?.FirstOrDefault(p => p.ProductID == productId);
        return selectedProduct?.ProductPrice ?? 0.0m;
    }

    private void OnQuantityChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int quantity))
        {
            // Ensure the quantity is always positive
            prescriptionitem.PrescriptionItemQuantity = Math.Max(quantity, 0);

            // Update the subtotal
            prescriptionitem.PrescriptionItemSubTotal = prescriptionitem.PrescriptionItemQuantity * GetProductPrice(prescriptionitem.ProductID);

            StateHasChanged(); // Ensure the component re-renders to reflect the updated subtotal.
        }
        else
        {
            prescriptionitem.PrescriptionItemQuantity = 0; // or handle the case when the input is not a valid integer
            prescriptionitem.PrescriptionItemSubTotal = 0;
            StateHasChanged();
        }
    }
}
